asttokens
backcall
black
click
decorator
executing
ipython
jedi
matplotlib-inline
MouseInfo
mypy-extensions
numpy
opencv-python
parso
pathspec
pexpect
pickleshare
Pillow
pkg_resources
platformdirs
prompt-toolkit
ptyprocess
pure-eval
PyAutoGUI
PyGetWindow
Pygments
PyMsgBox
pyperclip
PyRect
PyScreeze
python3-xlib
pytweening
six
stack-data
tomli
traitlets
typing_extensions
wcwidth
