asttokens
backcall
black
click
decorator
executing
ipython
jedi
matplotlib-inline
mypy-extensions
parso
pathspec
pexpect
pickleshare
pkg_resources
platformdirs
prompt-toolkit
ptyprocess
pure-eval
Pygments
six
stack-data
tomli
traitlets
typing_extensions
wcwidth
